<div class="inner cover">
  <h1 class="cover-heading">
    <a href="https://github.com/DannyvdSluijs" target="_blank">Github</a>&nbsp;<img src="assets/github.png"/>
  </h1>
</div>

<div class="inner cover">
  <h1 class="cover-heading">
    <a href="https://www.linkedin.com/in/dannyvandersluijs/" target="_blank">Linkedin</a>&nbsp;<img src="assets/linkedin.png"/>
  </h1>
</div>

<div class="inner cover">
  <h1 class="cover-heading">
    <a href="https://twitter.com/EchteDanny" target="_blank">Twitter</a>&nbsp;<img src="assets/twitter.png"/>
  </h1>
</div>