<div class="col-12 pt-5 pl-1 mt-4">
<h1><i class="far fa-comments"></i> Contact </h1>
  <p class="mb-5">
    If you are interested in my professional profile, do not hesitate to contact me through any of the below channels:
  </p>
  <h2>
    <i class="fab fa-github fa-fw mr-2"></i> <a href="https://github.com/DannyvdSluijs" target="_blank">DannyvdSluijs</a>
  </h2>
  <h2>
    <i class="fab fa-linkedin fa-fw mr-2"></i> <a href="https://www.linkedin.com/in/dannyvandersluijs/" target="_blank">dannyvandersluijs</a>
  </h2>
  <h2>
    <i class="fab fa-twitter fa-fw mr-2"></i> <a href="https://twitter.com/EchteDanny" target="_blank">EchteDanny</a>
  </h2>
  <h2>
    <i class="fas fa-envelope fa-fw mr-2"></i> <a href="mailto://danny.vandersluijs@icloud.com" target="_blank">danny.vandersluijs@icloud.com</a>
  </h2>
</div>