<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Danny van der Sluijs</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a routerLink="/landing" routerLinkActive="active">Home</a></li>
                            <li><a routerLink="/social-media" routerLinkActive="active">Social media</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

                <router-outlet></router-outlet>


            <div class="mastfoot">
                <div class="inner">
                    <p>dannyvandersluijs.nl</p>
                </div>
            </div>
        </div>
    </div>
</div>