<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row fixed-top pl-4">
        <a class="navbar-brand" href="#">Danny van der Sluijs</a>
        <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed" aria-controls="mainNavigation" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavigation" [ngbCollapse]="menuCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/landing" (click)="menuCollapsed = !menuCollapsed" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/github" (click)="menuCollapsed = !menuCollapsed" routerLinkActive="active">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" (click)="menuCollapsed = !menuCollapsed" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="inner-view" class="row bg-white">
        <div class="col-12" style="min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="footer" class="row bg-dark text-white pt-2">
        <div class="col-sm-12 col-md-4 ">
            <h5>Latest github commits</h5>
            <hr class="bg-white"/>
            <ul class="list-group list-unstyled">
                <div *ngFor="let repository of repositories | slice:0:5">
                    <div class="clearfix">
                        <strong class="float-left"><a href="{{repository.html_url}}" target="_blank" rel="noreferrer">{{repository.name}}</a></strong>
                        <small class="float-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{repository.updated_at | date}}
                        </small>
                    </div>
                    <li class="text-muted">{{repository.description}}</li>
                    <hr class="bg-white"/>
                </div>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Github activity</h5>
            <hr class="bg-white"/>
            <ul class="list-group list-unstyled">
                <div *ngFor="let activity of activities | slice:0:7" >
                    <div class="clearfix">
                        <strong class="float-left">
                            {{activity.getHumanisedType()}} <a href="{{activity.getHtmlUrl()}}" target="_blank" rel="noreferrer">{{activity.repo.name}}</a>
                        </strong>
                        <small class="float-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{activity.created_at | date}}
                        </small>
                    </div>
                    <hr class="bg-white"/>
                </div>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Latest blog posts</h5>
            <hr class="bg-white"/>
            <ul class="list-group list-unstyled">
                <div *ngFor="let blogPost of blogPosts | slice:0:7" >
                    <div class="clearfix">
                        <strong class="float-left">
                            <a href="{{blogPost.link}}" target="_blank" rel="noreferrer">{{blogPost.title}}</a>
                        </strong>
                        <small class="float-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{blogPost.pubDate | date}}
                        </small>
                    </div>
                    <hr class="bg-white"/>
                </div>
            </ul>
        </div>
        <div class="col-4 offset-4 text-center">
            © 2018 Danny van der Sluijs
        </div>
    </div>

</div>
