/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

#footer a {
  color: #ffffff;
}

#inner-view a {
  color: #000000;
}

body {
  background-color: #343a40!important;
}

footer
{
  font-size: 0.75rem;
}

.text-muted
{
  color: rgb(202, 204, 206) !important;
}
